@import '~normalize.css';

$font-family: 'Roboto Condensed', sans-serif !default;
$font-size: 16px;

html {
  font-family: $font-family;
  font-size: $font-size;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smooth: antialiased;
  font-weight: 400;
}

@-moz-document url-prefix() {
  body {
    font-weight: normal !important;
  }
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}
