@import "../../assets/scss/utils/colors";
@import "../../assets/scss/utils/spaces";
@import "../../assets/scss/utils/mixins/rem";

.section.contact-section {
  padding-block: $space-s;
  padding-inline: $space-m;
  background-color: $primary-color;

  display: grid;
  grid-template-columns: repeat(2, auto);

  .heading {
    text-transform: initial;
    font-size: 3rem;
    color: white;
  }
}

.contact-section * {
  color: white;
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.contacts-wrapper * {
  text-align: right;
}

.contact-section__phone-number,
.contact-section__email-address {
  display: block;
  text-decoration: none;
}
