@import "../../../../assets/scss/utils/colors";

.skill-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:nth-child(even) {
    background: linear-gradient(
                    to right,
                    white 0,
                    rgba($skill-engagement-color, 0.2) 44% 55%,
                    white 100%);
  }
}
