@import "../../../../assets/scss/utils/colors";

.skill-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:nth-child(even) {
    background: rgba($secondary-color, 0.25) 44% 55%;
  }
}
