@import "../../assets/scss/utils/spaces";
@import "../../assets/scss/utils/colors";

.section {
  padding: $space-m;
  padding-top: $space-xs;
  padding-bottom: 0;
}

.section > .heading {
  text-transform: uppercase;
  color: $primary-color;
}
