$radius: 0.5em;

.meter {
  border-radius: $radius;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  height: 10px;
  width: 60px;
}

.meter__expertise ,
.meter__engagement {
  flex: 1;
}

.meter__expertise {
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

.meter__engagement {
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}
