@import "../../../assets/scss/utils/spaces";

.experience-entry__header {
  margin-bottom: $space-xs;
  border-bottom-color: rgba(0,0,0, 0.35);
  border-bottom-style: dotted;
  border-bottom-width: 1px;
}

.experience-entry .experience-entry__heading {
  margin-bottom: 0;
  margin-top: $space-xs;
  letter-spacing: 2px;
}

.experience-entry .experience-entry__heading--location {
  font-size: 0.8rem;
}
