@import "../../../assets/scss/utils/spaces";

.experience-job-description {
  ul {
    padding: 0 20px;
    margin: 0;
  }

  .paragraph {
    line-height: 1;
    font-size: 0.9rem;
  }

  .experience-job-description__span {
    margin-left: 0.5rem;
    font-size: 0.75rem;
  }
}

.experience-job-description__header {
  display: flex;
  align-items: baseline;

  * {
    font-size: 0.9rem;
  }
}

